@import "../../style/responsive.scss";

.register {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  .top {
    .logo {
      color: green;
      font-size: 40px;
    }
  }

  .input {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    gap: 10px;
    border-radius: 6px;
    box-shadow:
      rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 300px;
    @include sm {
      padding: 20px;
      min-width: 300px;
    }

    @include md {
      padding: 20px;
      min-width: 300px;
    }

    h1 {
      font-family: "Gabarito", sans-serif;
      text-align: center;
      font-size: 40px;
      margin-bottom: 20px;
    }
    .inputValid {
      display: flex;
      flex-direction: column;
      .inputType {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 10px;
        padding: 10px 30px;

        .inputIcon {
          font-size: 30px;
          margin-right: 10px;
        }

        input {
          background: transparent;
          border: none;
          width: 100%;
          font-size: 15px;
          font-family: "Gabarito", sans-serif;
          &::placeholder {
            color: black;
            font-size: 20px;
            font-family: "Gabarito", sans-serif;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .formError {
        font-family: "Gabarito", sans-serif;
        color: red;
      }
    }

    span {
      font-family: "Gabarito", sans-serif;
      font-size: 16px;

      .loginLink {
        color: green;
        font-weight: bold;
      }
    }

    .registerButton {
      font-size: 20px;
      font-family: "Gabarito", sans-serif;
      border: none;
      padding: 10px 0px;
      border-radius: 4px;
      font-weight: 600;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      cursor: pointer;

      &:hover {
        background: rgb(207, 203, 203);
      }
    }
  }
}
