.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  height: 100px;
  background-color: white;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.2s ease-in;

  &:hover {
    transform: scale(1.01);
    box-shadow:
      10px 10px 10px #bebebe,
      -1px -1px 15px #ffffff;
    transition: 0.2s ease-in-out;
  }
  .left,
  .right {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .skeleton-wrapper {
      width: 100%;
      height: 100%;
      display: inline-block; // Let the skeleton take up space like normal content
    }

    .skeleton {
      width: 100%; // Make the skeleton stretch to its container's width
      height: 100%; // Make the skeleton stretch to its container's height
    }



    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(160, 160, 160);
    }

    .counter {
      font-size: 28px;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      color: #6439ff;
    }

    .link {
      width: max-content;
      font-size: 12px;
      border-bottom: 1px solid gray;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;

      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }

    .icon {
      font-size: 18px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }
  }
}
