.featured {
  flex: 2;
  padding: 10px;
  background-color: white;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.2s ease-in;
  border-radius: 10px;

  &:hover {
    transform: scale(1.01);
    box-shadow:
      10px 10px 10px #bebebe,
      -1px -1px 15px #ffffff;
    transition: 0.2s ease-in-out;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(160, 160, 160);
      text-transform: uppercase;
    }
  }

  .bottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .growth {
      font-weight: 500;
      color: gray;
    }

    .featuredChart {
      width: 100px;
      height: 100px;
    }

    .title {
      font-weight: 500;
      color: gray;
    }

    .amount {
      font-size: 28px;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      color: #6439ff;
    }

    .desc {
      font-weight: 300;
      font-size: 12px;
      color: gray;
      text-align: center;
    }

    .summary {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        text-align: center;

        .itemTitle {
          font-size: 14px;
          color: gray;
        }

        .itemResult {
          display: flex;
          align-items: center;
          margin-top: 10px;
          font-size: 14px;

          &.positive {
            color: green;
          }

          &.negative {
            color: red;
          }
        }
      }
    }
  }
}
