.navbar {
  display: flex;
  align-items: center;
  font-size: 14px;

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-left: 20px;
        position: relative;
        cursor: pointer;
        padding: 5px;
        --clr-font-main: hsla(0 0% 20% / 100);
        --btn-bg-1: hsla(194 100% 69% / 1);
        --btn-bg-2: hsla(217 100% 56% / 1);
        --btn-bg-color: hsla(360 100% 100% / 1);
        --radii: 0.5em;
        cursor: pointer;
        font-size: var(--size, 1rem);
        font-weight: 500;
        transition: 0.8s;
        background-size: 280% auto;
        background-image: linear-gradient(
          325deg,
          var(--btn-bg-2) 0%,
          var(--btn-bg-1) 55%,
          var(--btn-bg-2) 90%
        );
        border: none;
        border-radius: 5px;
        color: var(--btn-bg-color);
        box-shadow:
          0px 0px 20px rgba(241, 250, 255, 0.5),
          0px 5px 5px -1px rgba(235, 243, 255, 0.25),
          inset 4px 4px 8px rgba(175, 230, 255, 0.5),
          inset -4px -4px 8px rgba(213, 225, 245, 0.35);

        &:hover {
          background-position: right top;
        }

        &:is(:focus, :focus-visible, :active) {
          outline: none;
          box-shadow:
            0 0 0 3px var(--btn-bg-color),
            0 0 0 6px var(--btn-bg-2);
        }

        @media (prefers-reduced-motion: reduce) {
          transition: linear;
        }

        .profileName {
          display: flex;
          align-items: center;

          p {
            font-size: 18px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
          }
        }

        .userIcon {
          padding: 1px;
          border-radius: 3px;
          color: white;
        }

        .icon {
          font-size: 20px;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
