.sidebar {
  height: fit-content;
  background-color: white;
  width: 170px;
  border-radius: 15px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 25px;
      font-weight: 800;
      font-family: "Poppins", sans-serif;
      color: #6439ff;
    }
  }

  .center {
    padding: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .active {
        li {
          background-color: red;
          box-shadow: rgb(155, 26, 22) 0px 10px 30px -10px;

          &:hover {
            background-color: red;
          }
        }
        .icon {
          font-size: 18px;
          color: white;
        }

        span {
          font-size: 15px;
          font-weight: 600;
          margin-left: 5px;
          color: white;
        }
      }

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 18px;
          color: #7451f8;
        }

        span {
          font-size: 15px;
          font-weight: 600;
          margin-left: 5px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
      &:nth-child(3) {
        background-color: darkblue;
      }
    }
  }
}
