.barCharts {
  background-color: #ffffff; 
  padding: 10px;
  border-radius: 10px;

  p {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    color: rgb(160, 160, 160);
    text-transform: uppercase;
  }
}
